
.ui.visible.push.sidebar {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  width: 100%!important;
}
.menu {
  background-color: #FFFFFF;
  padding: 0em;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  background: transparent;
}
/* change style */
.fixed.menu {
  background-color: white !important;
  position: fixed;
  padding: 1em;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.ui.secondary.menu .item{
  color: white!important;
}
.ui.secondary.fixed.menu .item {
  -ms-flex-item-align: center;
  align-self: center;
  color: black!important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: .78571429em .92857143em;
  margin: 0 .35714286em;
  background: 0 0;
  -webkit-transition: color .1s ease;
  transition: color .1s ease;
  border-radius: .28571429rem;
}

.ui.large.menu {
  font-size: 1.07142857rem;
  background-color: transparent !important;
}
.ui.menu .item>a:not(.ui), .ui.menu .item>p:only-child, .ui.menu .text.item>* {

  color: white;
}

#HOME { 

  min-height: 700px;
  padding: 1em 0em;
  background-image: url(https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/footer/map-xl.jpg?width=1680&height=824&name=map-xl.jpg);
}

#PORJECTS { 
  background-image: url(https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/footer/map-xl.jpg?width=1680&height=824&name=map-xl.jpg);
  z-index:3;
}

#contact {

  background-image: url(https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/footer/map-xl.jpg?width=1680&height=824&name=map-xl.jpg);


}
#dreamthecode {
  background:rgb(202, 98, 1);
}

#bigup .ui.header {
  border: none;
  margin: calc(2rem - .14285714em) 0 1rem;
  padding: 0 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.28571429em;
  text-transform: none;
  color: white;
}

.ui[class*="top fixed"].menu {
  border-top: none;
  border-left: none;
  border-right: none;
  padding:0!important;
  background-color: black!important;
  max-height: 71px;

}

#bigup {
  max-width: 1200px!important;
 
}


#container{
  
  position: relative;
  height: 100vh;
  width: 100%;
  //border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide{
  display: block;
  position: absolute;
  height: 200px !important;
  width: 200px !important;
  background: red; 
}
