@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  font-family: "Raleway";
}

.band {
  width: 500px;
  height: 500px;

  background: url("./band.png") no-repeat;
}

.ui.secondary.menu {
    background: 0 0;
    margin-left: -.35714286em;
    margin-right: -.35714286em;
    border-radius: 0;
    border: none;
    box-shadow: none;
}



#disappearNavFront {

}
