#signouthover.ui.basic.button, .ui.basic.buttons .button {
    background: snow !important;
    color: rgba(0,0,0,.6)!important;
    font-weight: 400;
    border-radius: .28571429rem;
    text-transform: none;
    text-shadow: none!important;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset;
}