@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    vertical-align: top;
  }
  @function rem-calc($pixelValue, $baseValue: 16) {
    @return ($pixelValue / $baseValue) * 1rem;
  }
  $breakpoints: (
      'xs'  : ( min-width: 40em ), // 640px
    'sm'  : ( min-width: 48em ), // 768px
    'md'  : ( min-width: 64em ), // 1024px
    'lg'  : ( min-width: 90em )	 // 1440px
  );
  
  @mixin border ($style,  $sides...){
    @if ($style != "") {
      @if ($sides == "") {
        border: $style;
      } @else {
        @each $side in $sides {
         @if ($side == 'top' or
              $side == 'right' or
              $side == 'bottom' or
              $side == 'left') {
              border-#{$side}: $style;
          }
        }
      }
    }
  }
  
  @mixin respond-to($name) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $name) {
      // Prints a media query based on the value
      @media #{inspect(map-get($breakpoints, $name))} { @content; }
    }
    // If the key doesnt exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
  $colors: (
      blue-primary: #44c8f9,
      blue-secondary: #01aae9,
      blue-tertiary: #048fc3,
      orange-primary: #febc75,
      orange-secondary: #f59834,
      orange-tertiary: #e3831c,
      white: #f9fafc,
      light-gray-primary: #eaf0f2,
      light-gray-secondary: #e8ebf1,
      dark-gray-primary: #6a7078,
      dark-gray-secondary: #474e58,
      black: #474e58,
      mint-primary: #e8f4e7,
      mint-secondary: #d3e7d2,
      mint-tertiary: #b3cab2,
      red-primary: #f76b58,
      red-secondary: #f04730,
      red-tertiary: #d42912,
      dark-blue-primary: #303c40
  );
  @function color($key) {
      @if map-has-key($colors, $key) {
          @return map-get($colors, $key)
      }
  
      @warn "Unknown `#{key}` in $colors.";
      @return null;
  }
  .run-it-once {
    background-color: #020203;
  }
  
  $rio-primary: #020203;
  $rio-secondary: #101012;
  $rio-borders: #898c8c;
  $rio-red: #B54A49;
  $rio-xs: 760px;
  
  .hero--rio {
      position: relative;
      color: color(white);
      min-height: rem-calc(520);
      text-align: center;
      @media screen and (min-width: 768px) {
          height: 75vh;
      }
      @media screen and (min-width: 1024px) {
          height: 90vh;
      }
      .button.buy-button {
          position: absolute;
          top: -150px;
          left: 50%;
      background: #A47C3F;
      color: #fff;
      border: none;
      padding: rem-calc(10) 0;
      min-width: rem-calc(195);
           transform: translate3d(-50%, 30px, 0);
          opacity: 0;
          transition: 600ms ease;
          z-index: 0;
          @media screen and (min-height: 580px) and (min-width: 768px) {
              top: -130px;
          }
          @media screen and (min-height: 640px) and (min-width: 768px) {
              top: -170px;
          }
          @media screen and (min-height: 768px) and (min-width: 1024px) {
              top: -220px;
          }
          @media screen and (min-height: 1000px) and (min-width: 1024px) {
              top: -230px;
          }
          @media screen and (min-height: 1200px) and (min-width: 1024px) {
              top: -270px;
          }
          &.active {
              opacity: 1;
              transform: translate3d(-50%, 0, 0);
          }
          &:hover {
              color: $rio-primary;
          }
      }
  }
  .rio-logo {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      top: 0;
      left: 50%;
      width: 100%;
      transform: translate3d(-50%, -100px, 0);
      transition: opacity 4000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
      transition-delay: 800ms;
      opacity: 0;
      &__inner {
          position: relative;
          height: 0;
          padding-bottom: percentage(82.7 / 560);
          img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
          }
      }
      @media screen and (min-height: 580px) and (min-width: 768px) {
          transform: translate3d(-50%, -120px, 0);
      }
      @media screen and (min-height: 900px) and (min-width: 768px) {
          transform: translate3d(-50%, -150px, 0);
      }
      @media screen and (min-height: 1100px) and (min-width: 768px) {
          transform: translate3d(-50%, -180px, 0);
      }
      @media screen and (min-height: 768px) and (min-width: 1024px) {
          transform: translate3d(-50%, -150px, 0);
      }
      @media screen and (min-height: 1000px) and (min-width: 1024px) {
          transform: translate3d(-50%, -180px, 0);
      }
      @media screen and (min-height: 1200px) and (min-width: 1024px) {
          transform: translate3d(-50%, -220px, 0);
      }
      @media screen and (min-height: 850px) and (min-width: 1440px) {
          transform: translate3d(-50%, -200px, 0);
      }
      @media screen and (min-height: 1100px) and (min-width: 1440px) {
          transform: translate3d(-50%, -240px, 0);
      }
  }
  
  .cardbox-container {
      position: absolute;
      bottom: -(rem-calc(100));
      left: 50%;
      width: 100%;
      max-width: rem-calc(252);
      transform: translate3d(-50%, 0, 0);
      &--intro {
          .cardbox {
              opacity: 0;
              transform: translate3d(0, 80px, 0);
              transition: transform 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000), opacity 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
          }
          &.loaded, {
              .cardbox {
                  opacity: 1;
                  transform: translate3d(0, 0, 0);
              }
              .rio-logo {
                  opacity: 1;
              }
          }
      }
      @media screen and (min-height: 580px) and (min-width: 768px) {
          max-width: rem-calc(350);
          bottom: -(rem-calc(240));
      }
      @media screen and (min-height: 900px) and (min-width: 768px) {
          max-width: rem-calc(380);
          bottom: -(rem-calc(170));
      }
      @media screen and (min-height: 1100px) and (min-width: 768px) {
          max-width: rem-calc(410);
          bottom: -(rem-calc(130));
      }
      @media screen and (min-height: 768px) and (min-width: 1024px) {
          max-width: rem-calc(400);
      }
      @media screen and (min-height: 1000px) and (min-width: 1024px) {
          max-width: rem-calc(484);
          bottom: -(rem-calc(160));
      }
      @media screen and (min-height: 850px) and (min-width: 1440px) {
          max-width: rem-calc(484);
          bottom: -(rem-calc(290));
      }
      @media screen and (min-height: 1100px) and (min-width: 1440px) {
          bottom: -(rem-calc(160));
      }
  }
  .cardbox {
      &__item, &-ending__item {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          will-change: transform;
          &--front {
              position: relative;
              z-index: 5;
          }
          &--lid, &--lidback {
              bottom: initial;
              top: 0;
              width: calc(100% - 12px);
              z-index: 2;
          }
          &--lidback {
              opacity: .7;
              z-index: 1;
          }
          &--card {
              bottom: initial;
              top: 10%;
              width: calc(100% - 14px);
              z-index: 4;
          }
      }
  }
  
  .two-cards {
      position: relative;
      overflow: hidden;
      //@include hero('../images/work/run-it-once/hero/two-cards.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 50vh;
      min-height: rem-calc(510);
      @include respond-to(sm) { height: rem-calc(583); }
      @include respond-to(md) { height: 100vh; }
      &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: $rio-primary;
          opacity: 1;
          transition: 600ms ease;
      }
      &.loaded:before {
          opacity: 0;
      }
  }
  
  .deck {
      overflow: hidden;
      padding: rem-calc(70) rem-calc(22) rem-calc(60);
      @include respond-to(sm) {
          padding: rem-calc(143) 0 0;
          height: rem-calc(1200);
      }
      .deck-container {
          width: 100%;
          max-width: rem-calc(1440);
          margin-left: auto;
          margin-right: auto;
          position: relative;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
          .deck-container__item {
  
          }
      }
  
      &-copy {
          color: color(white);
          margin-bottom: rem-calc(25);
          transform: translateY(50px);
          opacity: 0;
          transition: opacity 1500ms cubic-bezier(0.230, 1.000, 0.320, 1.000), transform 1500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
          will-change: transform, opacity;
          padding-bottom: rem-calc(100);
          @include respond-to(sm) {
              max-width: rem-calc(410);
              margin-right: percentage(123 / 1440);
              float: right;
          }
          @include respond-to(lg) {
              max-width: rem-calc(500);
          }
          h1 {
              text-transform: uppercase;
              margin-bottom: rem-calc(25);
          }
      }
  
      &-cards {
          position: relative;
          margin: 0 auto 0;
          width: 100%;
          display: block;
          height: rem-calc(494);
          @media screen and (min-width: 330px) {
              max-width: rem-calc(330);
          }
          @include respond-to(sm) {
              position: absolute;
              max-width: rem-calc(1042);
              height: rem-calc(934);
              top: 0;
              right: rem-calc(115);
          }
          @include respond-to(md) {
              right: percentage(135 / 1024);
          }
          &__item {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate3d(-50%, 0, 0);
              will-change: transform;
              @include respond-to(sm) {
                  left: 0;
                  transform: none;
              }
              &:nth-of-type(1) {
                  z-index: 6;
                  max-width: percentage(327.59 / 330);
                  @include respond-to(sm) {
                      max-width: percentage(502 / 1042);
                  }
              }
              &:nth-of-type(2) {
                  top: rem-calc(97);
                  max-width: percentage(326.94 / 330);
                  z-index: 5;
                  @include respond-to(sm) {
                      max-width: percentage(501 / 1042);
                      top: rem-calc(149);
                  }
              }
              &:nth-of-type(3) {
                  top: rem-calc(185);
                  max-width: percentage(326.29 / 330);
                  z-index: 4;
                  @include respond-to(sm) {
                      max-width: percentage(500 / 1042);
                      top: rem-calc(283);
                  }
              }
              &:nth-of-type(4) {
                  top: rem-calc(279);
                  max-width: percentage(324.33 / 330);
                  z-index: 3;
                  @include respond-to(sm) {
                      max-width: percentage(497 / 1042);
                      top: rem-calc(427);
                  }
              }
              &:nth-of-type(5) {
                  top: rem-calc(348);
                  max-width: percentage(323.68 / 330);
                  z-index: 2;
                  @include respond-to(sm) {
                      max-width: percentage(496 / 1042);
                      top: rem-calc(533);
                      left: rem-calc(60);
                  }
              }
              &:nth-of-type(6) {
                  display: none;
                  z-index: 1;
                  @include respond-to(sm) {
                      display: block;
                      top: rem-calc(648);
                      left: rem-calc(450);
                  }
              }
          }
      }
  }
  
  .cards {
      position: relative;
      background-color: $rio-secondary;
      overflow: hidden;
      &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252529+0,000000+100&0.65+0,0+100 */
          background: -moz-linear-gradient(top,  rgba(37,37,41,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(37,37,41,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(37,37,41,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6252529', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      }
      &-container {
          position: relative;
          z-index: 2;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
          width: 100%;
      &:after {
        content: '';
        display: table;
        clear: both;
      }
          padding: rem-calc(45) rem-calc(20) rem-calc(90);
          @include respond-to(sm) {
              max-width: rem-calc(768);
              padding: rem-calc(184) rem-calc(20);
          }
          @include respond-to(md) {
              max-width: rem-calc(978);
              padding: rem-calc(320) rem-calc(20);
          }
          @include respond-to(lg) { padding: rem-calc(320) rem-calc(20); }
      }
      &-copy {
          max-width: rem-calc(335);
          margin-left: auto;
          margin-right: auto;
          opacity: 0;
          transform: translateY(50px);
          transition: opacity 1500ms cubic-bezier(0.230, 1.000, 0.320, 1.000), transform 1500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
          will-change: transform, opacity;
          @include respond-to(xs) {
              max-width: 80%
          }
          @include respond-to(sm) {
              max-width: rem-calc(387);
              float: left;
          }
  
          @include respond-to(md) {
              max-width: rem-calc(512);
          }
      }
      &-cards {
          position: relative;
          padding-top: rem-calc(100);
          max-width: rem-calc(200);
          margin-left: auto;
          margin-right: auto;
          @include respond-to(sm) {
              padding-top: 0;
              position: absolute;
              right: 5%;
              top: 50%;
              transform: translate3d(0, -50%, 0);
              max-width: rem-calc(200);
          }
          @include respond-to(md) {
              max-width: rem-calc(200);
          }
          @include respond-to(lg) {
              right: 0;
          }
          &__item {
              position: relative;
              display: block;
              margin: 0 auto 0;
              will-change: transform;
  
              &:nth-child(1){ z-index: 3; }
              &:nth-child(2){ z-index: 2; }
              &:nth-child(3){ z-index: 1; }
          }
      }
  }
  
  .run-it-once {
      background-color: $rio-primary;
      h1 { color: #efefef; }
      p {
          color: #efefef;
          line-height: 2.25;
          margin-bottom: 2rem;
          &:last-of-type {
              margin-bottom: 0;
          }
      }
  
      .button {
          display: inline-block;
          text-align: center;
          background: transparent;
          color: #B54A49;
          border: 1px solid #B54A49;
          border-radius: rem-calc(25);
          font-size: rem-calc(18);
          padding: rem-calc(5) rem-calc(20);
          margin-right: rem-calc(12);
          &:last-of-type {
              margin-right: 0;
          }
  
          &:hover {
              color: #fff;
          }
      }
  
      .case-study-gallery,
      .case-study-gallery2 {
          font-size: 0;
          .intrinsic__inner-magic {
              transition: 800ms ease;
              &:hover {
                  transform: scale(1.15);
                  transition: 10s ease;
              }
          }
      }
  
      .case-study-gallery {
          position: relative;
          &:before, &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              left: 0;
              background-color: $rio-borders;
              z-index: 5;
          }
          &:before {
              top: 0;
          }
          &:after {
              bottom: -1px;
          }
          > div:first-of-type {
              &:before, &:after {
                  content: '';
                  position: absolute;
                  background-color: $rio-borders;
                  z-index: 5;
              }
              &:after {
                  width: 100%;
                  height: 1px;
                  bottom: 0;
                  left: 0;
              }
              @include respond-to(sm) {
                  &:before {
                      width: 1px;
                      height: 100%;
                      top: 0;
                      right: 0;
                  }
                  &:after {
                      display: none;
                  }
              }
          }
          > div:last-of-type {
              > div:last-of-type {
                  &:before {
                      content: '';
                      position: absolute;
                      background-color: $rio-borders;
                      z-index: 5;
                      width: 100%;
                      height: 1px;
                      top: 0;
                      left: 0;
                  }
              }
          }
      }
  
      .case-study-gallery2 {
          @include border(1px solid $rio-borders, top);
          @include respond-to(md) {
              border: none;
          }
          > div {
              @include border(1px solid $rio-borders, bottom);
              @include respond-to(md) {
                  @include border(1px solid $rio-borders, top, right, bottom);
              }
              &:last-of-type {
                  @include respond-to(md) {
                      border-right-color: transparent;
                  }
              }
          }
      }
  
      .button-wrap {
          text-align: center;
          margin-bottom: rem-calc(25);
  
          @media screen and (min-width: $rio-xs){
              text-align: left;
          }
      }
  
      .case-study-gallery,
      .case-study-gallery2 {
          padding: 0;
      }
  }
  