html, #root{
    height:100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
//  background: #241f1f;
}

.ui.container {
    width: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
}

.ui.card>.content, .ui.cards>.card>.content {
background:#241f1f;
color:white;
}
.ui.card>.content p:last-child, .ui.cards>.card>.content p:last-child {
  margin-bottom: 0;
  color: white;
}
ui.card .meta *, .ui.cards>.card .meta * {
  margin-right: .3em;
  color: white;
}

u {
  text-decoration: underline;
  color:white;
}

#startinTransition {
    width: 100%;
    height: 0px;
    background-color:white;
    position: relative;
    -webkit-animation-name: startingTransExample; /* Safari 4.0 - 8.0 */
    animation-name: startingTransExample;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes startingTransExample {
    from   { height:0px;}
    to  { background-image: url(https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/footer/map-xl.jpg?width=1680&height=824&name=map-xl.jpg); height: 100%}
  }

  #homela{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    max-width: 100%;
    line-height: 1.5;
}