@import url('https://fonts.googleapis.com/css?family=Rakkas');e
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1b1c1d;
}

#resizeMaxwidt {
  max-width: 350px;
}

#insideBackground {
  color: teal
}

.containerla {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.containerla img {
  width: 100%;
  height: auto;
}

.containerla .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.containerla .btn:hover {
  background-color: black;
}


.ui[class*="top dimmer"],
.ui[class*="center dimmer"],
.ui[class*="bottom dimmer"] {
  height: auto;
}

.ui[class*="bottom dimmer"] {
  top: auto !important;
  bottom: 0;
}

.ui[class*="center dimmer"] {
  top: 50% !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(calc(-50% - .5px));
}

.ui[class*="center dimmer"].transition[class*="fade up"].in {
  animation-name: fadeInUpCenter;
}

.ui[class*="center dimmer"].transition[class*="fade down"].in {
  animation-name: fadeInDownCenter;
}

.ui[class*="center dimmer"].transition[class*="fade up"].out {
  animation-name: fadeOutUpCenter;
}

.ui[class*="center dimmer"].transition[class*="fade down"].out {
  animation-name: fadeOutDownCenter;
}

.ui[class*="center dimmer"].bounce.transition {
  animation-name: bounceCenter;
}

@keyframes fadeInUpCenter {
  0% {
    opacity: 0;
    transform: translateY(-40%);
    -webkit-transform: translateY(calc(-40% - .5px));
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(calc(-50% - .5px));
  }
}

@keyframes fadeInDownCenter {
  0% {
    opacity: 0;
    transform: translateY(-60%);
    -webkit-transform: translateY(calc(-60% - .5px));
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(calc(-50% - .5px));
  }
}

@keyframes fadeOutUpCenter {
  0% {
    opacity: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(calc(-50% - .5px));
  }
  100% {
    opacity: 0;
    transform: translateY(-45%);
    -webkit-transform: translateY(calc(-45% - .5px));
  }
}

@keyframes fadeOutDownCenter {
  0% {
    opacity: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(calc(-50% - .5px));
  }
  100% {
    opacity: 0;
    transform: translateY(-55%);
    -webkit-transform: translateY(calc(-55% - .5px));
  }
}

@keyframes bounceCenter {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-50%);
    -webkit-transform: translateY(calc(-50% - .5px));
  }
  40% {
    transform: translateY(calc(-50% - 30px));
  }
  60% {
    transform: translateY(calc(-50% - 15px));
  }
}
.ui.progress {
  margin: 0 0 0 0 !important;
}

